@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.check{
  text-align: center;
  font-size: 20px;
  padding: 30px 0px;
}
.check i{
  font-size: 60px;
  color:  green;
  border: 5px solid green;
  border-radius: 100%;
  padding: 20px;
}
.check p{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}
.hide{
  display: none;
}
.faq{}
  .faq ol li{
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      margin-top: 10px;
  }
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  .howInter{
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      
  }
.stars {
height: 100px;
   width: 220px;
   margin: 0 auto;
   text-align: center;
}
.stars input{
display: none;
}
.stars label{
font-size: 30px;
color: lightgrey;
margin: 0 5px;
text-shadow: 1px 1px #bbb;
}
.stars #five:before{
content: '😍';
}
  .stars #four:before{
content: '😎';
}
  .stars #three:before{
content: '😄';
}
  .stars #two:before{
content: '😒';
}
  .stars #one:before{
content: '😠';
}
  
.stars input:checked ~ label{
color: gold;
text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
color: gold;
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
color: gold;
text-shadow: 1px 1px goldenrod;
}
.stars .result:before{
position: absolute;
content: "";
width: 35%;
  height: 40px;
left: 50%;
  top: 35%;
transform: translateX(-50%);
bottom: 0px;
font-size: 20px;
font-weight: 500;
  background: #000;
  border-radius: 10px;
font-family: 'Poppins', sans-serif;
display: none;
  color: red;
  padding-top: 5px;
}
.stars input:checked ~ .result:before{
display: block;
}
.stars #five:checked ~ .result:before{
content: "I love it 😍";
}
.stars #four:checked ~ .result:before{
content: "I like it 😎";
}
.stars #three:checked ~ .result:before{
content: "It's good 😄";
}
.stars #two:checked ~ .result:before{
content: "I don't like it 😒";
}
.stars #one:checked ~ .result:before{
content: "I hate it 😠";
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.rating-wrap{
max-width: 480px;
margin: auto;
padding: 20px 0px 70px 0px;
box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
text-align: center;
}

.center{
width: 162px; 
margin: auto;
}

#rating-value {
width: 150px;
margin: 60px auto 0;
padding: 10px 5px;
text-align: center;
box-shadow: inset 0 0 2px 1px rgba(46,204,113,.2);
}

/*styling star rating*/
.rating{
border: none;
float: left;
}

.rating > input{
display: none;
}

.rating > label:before{
content: '\f005';
font-family: FontAwesome;
margin: 5px;
font-size: 1.5rem;
display: inline-block;
cursor: pointer;
}

.rating > .half:before{
content: '\f089';
position: absolute;
cursor: pointer;
}


.rating > label{
color: #ddd;
float: right;
cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
color: #2ce679;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
color: #2ddc76;
}
#app{
background-color:#f1f1f1;

}
.row1 {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  overflow: hidden;
}
.app-user {
  width: 47%;
  float: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 8px -3px;
}
.app-user .img{
  width: 150px;
  margin: 0 auto;
}
.app-user .img img{
  height: 137px;
}
.app-user p{
    text-align: center;
    font-size: 21px;
    font-family: 'Bree Serif', serif;
}
.app-agent {
  width: 47%;
  float: right;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 8px -3px;
}
.app-agent .img {
  width: 150px;
  margin: 0 auto;
}
.app-agent .img img{
  height: 137px;
}
.app-agent p {
  text-align: center;
  font-size: 21px;
  font-family: 'Bree Serif', serif;
}
.app-header{
margin: 30px 0px;
}
.app-header h2{
font-size: 40px;
font-weight:  600px;
font-weight: bold;
text-align: center;
color: green;
font-family: 'Bree Serif', serif;
}
.app-header  h4{
font-size: 34px;
font-weight: 100;
color: #000;
font-family: 'Bree Serif', serif;
text-align: center;
}


.app-admin {
  width: 47%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 8px -3px;
  margin: 0px auto;
}
.app-admin .img{
  width: 150px;
  margin: 0 auto;
}
.app-admin .img img{
  height: 137px;
}
.app-admin p{
    text-align: center;
    font-size: 21px;
    font-family: 'Bree Serif', serif;
}


a{
  text-decoration: none;
}


a:hover{
  text-decoration: none;
}
#footer{
  text-align:center;
  line-height: 20p;
  /* margin: 30px auto; */
  margin: auto;
  margin-top: 50px;
}
#footer p{
  
line-height: 0px;
  
font-size: 10px;
}








@media only screen and (min-device-width : 320px) and (max-device-width : 375px) {

}

@media only screen and (min-device-width : 376px) and (max-device-width : 480px) {
  
}

@media only screen and (min-device-width : 481px) and (max-device-width : 600px) {
  
}

@media only screen and (min-device-width : 601px) and (max-device-width : 768px) {
  
}